<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#bla" />
  <title>Almacen Veicor-Store</title>
  <link rel="icon" type="image/png" href="img/logo.jpeg">


  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
    integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />



  <link rel="stylesheet" href="Estilos/estilos.css" />
</head>

<body>
  <header>
    <nav id="nav" class="nav1">
      <div class="contenedor-nav">
        <div class="logo">
          <a href="/index.html">
            <img src="img/logo.jpeg" alt="logo del almacen"></a>
        </div>
        <div class="enlaces" id="enlaces">
          <a href="index.html" id="enlace-inicio" class="btn-header">Inicio</a>
          <a href="index.html" id="enlace-personal" class="btn-header">Personal</a>
          <a href="index.html" id="enlace-galeria" class="btn-header">Galeria</a>
          <a href="#" id="enlace-contacto" class="btn-header">Contactanos</a>
          <a href=".../login.html" id="enlace-inicio" class="btn-header">Iniciar sesion</a>
        </div>
        </div>
      </div>
    </nav>


  </header>
  <br>
  <br>
    <main>
      <main>
        <section class="services contenedor" id="servicio">
            <h2 class="subtitulo">Política y Privacidad</h2>
            <br>
            <div class="contenedor-servicio">
            <div class="checklist-servicio"></div>
            <div class="service" id="app">
              <p>{{ name }}</p>
            </div>
            <div class="service" id="app1">
              <p>{{ name }}</p>
            </div>
            <div class="service" id="app2">
              <p>{{ name }}</p>
            </div>
            </div>
        </div>
   </main>
   <br>
   <br>
   
   <footer>

    <div class="pagina">
      <div class="footer1">
        <h3 class="footer-title">Sobre Nosotros</h3>
        <p>Nuestro horario de atencion <br> Horas:
          <br> lunes 08:00–18:30
          <br> martes 08:00–18:30
          <br> miércoles 08:00–18:30
          <br> jueves 08:00–18:30
          <br> viernes 08:00–18:30
          <br> sábado 08:00–18:30
          <br> domingo-cerrado

        </p>

      </div>
      <div class="footer2">
        <h3 class="r">Redes Sociales</h3>
        <ul class="footer-links1">
          <li><a href="https://www.facebook.com/AlmacenVeicor"><i class="fab fa-facebook"></i>Facebook</a></li>
          <li><a href="https://www.instagram.com/almacenveicor/?hl=es-la"><i
                class="fab fa-instagram"></i>Instragram</a></li>
          <li><a
              href="https://api.whatsapp.com/send?phone=593989167751&text=¡Hola!%20Gracias%20por%20contactarte%20con%20Almacenes%20Veicor%20¿Como%20podemos%20ayudarte?"><i
                class="fab fa-whatsapp"></i>WhatsApp</a></li>
          <li><a
              href="mailto:producto.hogar25@gmail.com?subject=Asesoramiento&body=¡Hola!%20Gracias%20por%20contactarte%20con%20Almacenes%20Veicor%20¿Como%20podemos%20ayudarte?"><i
                class="far fa-envelope"></i>Gmail </a></li>
          <li><a href="#"><i class="fas fa-map-marker-alt"></i>Ubicanos</a></li>

        </ul>
      </div>
      <div class="footer3">
        <h3 class="footer-title">Informacion</h3>
        <ul class="footer-links3">
          <li><a href="/src/Información/Información.html">Informacion </a></li>

          <li><a href="/src/Información/Información.html">Términos y Condiciones</a></li>
        
        </ul>
      </div>
      <div class="footer4">
        <h3 class="footer-title">Servicio</h3>
        <ul class="footer-links4">

          <li><a href="./productos-veicor/index.html">Ver productos</a></li>

          <li><a href="#">Seguir mi pedido</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <script src="/src/Términos y Condiciones/informacion.js"></script>
	
</body>
</html>
