@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
:root{
  --color1: rgb(251, 176, 59);
  --color2: rgb(247, 147, 30);
  --color3: rgb(241, 90, 36);
  --fondo: #ffffff;
  --letra:#000000;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido:45px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Montserrat ExtraBold';
  background: var(--fondo);
  
  
  
}
.envi{
  background-color: brown;
  padding: 11px 22px;
}
.caja-servicios{
border-radius: 150px;
}

img{
  vertical-align: top;
  border-radius: 48px;
}
video{
  vertical-align: top;
  border-radius: 48px;
}




/* Preloader */
.hidden{
  overflow: hidden;
}

.registro{
  
 background-color: brown;
 
}
.tienda{
  top: 100px;
}
.titulo-footer,
.subtitulo-footer {
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 56px;
}
footer {
  background: #2c3e50;
  height: auto;
}

.subtitulo-footer {
    font-size: 16px;
    margin-bottom: 64px;
}
.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
}

/* Header */

header{
  width: 100%;
  height:688px;
  padding-bottom: 0px;
  background: linear-gradient(to bottom,
  var(--color1),
  rgba(29,241,171, .6),
  rgba(7,109,150, .45)
  ), url(/src/img/portada2.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}


nav{
  width: 100%;
  position: fixed;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.5)
}

.nav1{
  background: transparent;
  height: 94px;
  color:#fff;
}

.nav2{
  background: var(--fondo);
  height:100px;
  color:#000;
}

.contenedor-nav{
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  max-width:1000px;
  height:inherit;
  overflow: hidden;
}

nav .enlaces a{
  display: inline-block;
  padding: 5px 0;
  margin-right: 17px;
  font-size: 17px;
  font-weight: 300;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  color: inherit;
}

nav .enlaces a:hover{
  border-bottom: 3px solid #1498a4;
  transition: 0.6s;
}

.logo, .logo img{ height:100px;}

.icono{
  display:none;
  font-size: 24px;
  padding: 23.5px 20px;
}

.textos{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color:#fff;
  overflow: hidden;
  text-align: center;
}

.textos>h1{
  font-size:80px;
  
}

.textos>h3{
  font-size: 30px;
  color: var(--fondo); 
  font-weight: 300;
}

/* Main */

.contenedor{
  margin:auto;
  padding: var(--margenes) 0;
  width: 90%;
  max-width: 1000px;
  text-align: center;
  overflow: hidden;
}

.contenedor h3{
  font-size: var(--titulos);
  color: var(--color1);
  margin-bottom: var(--espacios);
}

.contenedor p{
  font-size: var(--subtitulos);
  font-weight: 300;
  color: var(--color1);
}
.btn-header{
  color: #000;
}


.after::after{
  content:'';
  display: block;
  margin: auto;
  margin-top: var(--espacios);
  width: 100px;
  height: 2px;
  background: var(--color1);
  margin-bottom: var(--espacios-contenido);
}

.card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  
}

.content-card{
  width: 31%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  overflow: hidden;
  height:400px;
}
.letra{
color: rgb(27, 26, 25);

}
.people{
  height: 66%;
}

.content-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-team{
  height: 20%;
  width: 100%;
  padding: var(--espacios) 0;
}
.botones-work{
  overflow: hidden;
}

.botones-work li{
  display: inline-block;
  text-align: center;
  margin-left: var(--espacios);
  margin-bottom: var(--espacios-contenido);
  padding: 6px 12px;
  border: 1px solid var(--color1);
  list-style: none;
  color: var(--color1);
}

.botones-work li:hover{
  background: var(--color1);
  color:#fff;
  cursor: pointer;
}

.botones-work .active{
  background: var(--color1);
  color:#fff;
}

.galeria-work{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cont-work{
  width: 31%;
  box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
  height:350px;
  overflow: hidden;
  margin-bottom: var(--espacios-contenido);
}

.img-work{
  height: 83%;
  width: 100%;
}

.img-work img{
  height: 100%;
  width: 100%;
  object-fit: inherit;
}


.img-work video{
  height: 100%;
  width: 100%;
  object-fit: inherit;
}

.textos-work{
  height: 10%;
}

.textos-work h4{
  line-height: 30px;
  font-weight: 300;
}

/*=========================================================
	11 -> FOOTER
===========================================================*/
footer {
 
  background: linear-gradient(to bottom,
    rgb(251, 176, 59),
    rgb(247, 147, 30),
    rgb(241, 90, 36)
    );
 color: #000000;
}
footer{
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}
/*Horario y sus telefono y correo*/
.footer1{
  max-width: 400px;
}
.footer1 h3{
  color: #fff;
}
.footer1 p{
  color: #000000;
  margin-top: 20px;
}


.footer-links1{
  margin-top: 20px;
  display:block;
  
}
.footer-links1 li{
  list-style: none;
}
.footer-links1 li a .fab{
  width: 30px;
  height: 30px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.footer-links1 li a .fas{
  width: 30px;
  height: 30px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.footer-links1 li a {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: #000000;
  
}
.footer-links1 li a:hover{
  color: #ffffff;
}
.footer-links1 li a .far{
  width: 30px;
  height: 30px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}


.footer-links1 li a .fab, .far,.fas{
  color:#ffffff;
  font-size: 20px;
}



/*Redes sociales*/
.footer2{
  max-width: 400px;
}
.footer2 h3{
  color: #fff;
}




/*Informacion*/
.footer3{
  max-width: 400px;
}
.footer3 h3{
color: #fff;
}
.footer-links3{
  margin-top: 20px;
  display:block;
  
}
.footer-links3 li{
  list-style: none;
}
.footer-links3 li a {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: #000000;
}
.footer-links3 li a:hover{
  color: #ffffff;
}
/*Servicios*/
.footer4{
  max-width: 400px;
}
.footer4 h3{
color: #fff;
}
.footer-links4{
  margin-top: 20px;
  display:block;
  
}
.footer-links4 li{
  list-style: none;
}
.footer-links4 li a {
  display: inline-block;
  display: flex;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 10px;
  color: #000000;
}
.footer-links4 li a:hover{
  color: #ffffff;
}


@media screen and (max-width: 1100px){
    
  .container{
      flex-wrap: wrap;
  }
  
  .footer1{
      max-width: 100%;
  }
  
  .footer2,
  .footer3,
  .footer4{
      margin-top: 40px;
  }
}