<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Términos y condiciones</title>
  <link rel="icon" type="image/png" href="img/logo.jpeg">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
  <link rel="apple-touch-icon" href="/example.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
  <link rel="icon" type="image/png" href="img/logo.jpeg">
  <link rel="stylesheet" href="/src/Términos y Condiciones/info.css">

</head>
<body class="hidden">
  <header>
    <nav id="nav" class="nav1 ">
      <div class="contenedor-nav">
        <div class="logo">
          <a href="/src/index.html">
            <img src="/public/ico/logo.jpeg" alt="logo del almacen">
          </a>
        </div>
        <div class="enlaces" id="enlaces">
          <a href="/src/index.html" id="enlace-inicio" class="btn-header">
            <h3 id="inicio">INICIO</h3>
          </a>

        </div>
        <div class="icono" id="open">
          <span>&#9776;</span>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <section class="servicescontenedor" id="servicio">
      <h1 class="subtitulo"> Términos y Condiciones</h1>

      <div class="service" id="app">
        <p>{{ name }}</p>
      </div>
      <div class="service" id="app1">
        <p>{{ name }}</p>
      </div>
      <div class="service" id="app2">
        <p>{{ name }}</p>
      </div>
    </section>
  </main>
  <footer id="main-footer">
  <!--linea negra con la fecha y el numero de grupo-->
  <p style="text-align: center;">&copy; 2021 Grupo 22</p>
  </footer> <!-- / #main-footer -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

  <script src="/src/Términos y Condiciones/informacion.js"></script>


</body>

</html>