<!DOCTYPE html>
<html lang="en">
<head>                 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/18061dbe17.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
        integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="./styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  
                     
    <title>Carrito de Compra</title>
</head>
<body onload="render()">            
                                                                 
    <!-- PROYECTO -->                        
    <header>
        <nav class="orange accent-4">              
            <div class="nav-wrapper">
                <a href="./comprar.html" class="brand-logo m-1-2">                   
                    <i class="fab fa-viacoin"></i>
                    Carrito de compra
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>  
                     
            </div>                  
            
        </nav>               
    </header>
    <div class="container">
        <table>                            
            <thead>
                <tr >
                    <th scope="col">#</th>
                    <th scope="col" id="categorias">{{produ}}</th>
                    <th scope="col" id="categoria">{{desc}}</th>
                    <th scope="col" id="cant">{{cant}}</th>
                    <th scope="col" id="pre">{{pre}}</th>
                </tr>
            </thead>
            <tbody id="table">

            </tbody>
        </table>                                    
    </div>
    <!-- MODAL-->    
    <!-- Modal Structure -->
 <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="row">
            <form id="formCart" class="col s12">
                <div class="row">
                    <div class="input-field.col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" required id="userName"
                        class="validate">
                        <label for="icon_prefix">First Name</label>
                    </div>  
                    <br>
                    <br>           
                    <div class="input-field.col s12">
                        <i class="material-icons prefix">email</i>
                        <input type="email" required id="userEmail"
                        class="validate">
                        <label for="icon_prefix">E-mail</label>
                    </div>
                    <br>
                    <br>
                    <div class="input-field.col s12">
                        <i class="fa fa-phone"></i>
                        <input type="text" required id="userTelefono"
                        class="validate">
                        <label for="icon_prefix">Telefono</label>
                    </div>
                    <div class="input-field.col s12">
                        <i class=" fa fa-map"></i>
                        <input type="text" required id="userDireccion"
                        class="validate">
                        <label for="icon_prefix">Direccion</label>
                    </div>
                    <br>
                    <br>
                    <div class="input-field.col s12">
                        <select id="userSelect" class="browser-default">
                                <option value="DataFast">DataFast</option>
                                <option value="PagoEfectivo">PagoEfectivo</option>
                                <option value="Transferencia">Transferencia</option>
                        </select>
                        <!--br>
                        <br-->
                        <!--div class="input-field.col s12">
                            <i class="fa fa-id-card"></i>
                            <input type="text" required id="userTarjeta"
                            class="validate">
                            <label for="icon_prefix">Numero de tarjeta</label>
                        </div-->
                    </div>
                    <br>
                    <b>
                    </b>
                   <div class="input-field.col s12">
                    <button  class="btn modal-close waves-effect 
                    waves-light" type="submit"
                    name="action">Enviar <i class="material-icons right">send</i>
                    </button>
                   </div>
                </div>
            </form>

        </div>
    </div>
  </div>
  
<!-- MODAL End-->
<script src="/public/carritovue.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.15.2/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
   <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase.js"></script>
    <script src="./cart.js"></script>
   
</body>
</html>

