img.Filter{
    filter:brightness(0.85);
    background-color: rgb(61, 225, 236);
}

.row3{
    font-size: 30px;
     padding: 8px;
     color: rgb(6, 62, 248);
     
}
.row1{
    font-size: 30px;
    color: black;
    
}

.row2{
    font-size: 30px;
    width: 50px; height: 50px;                 
    display: inline-flex;
    padding: 1%;
    margin-left: 20%;
}

  /*=========================================================
	11 -> FOOTER
===========================================================*/
footer {
 
    background: linear-gradient(to bottom,
      rgb(251, 176, 59),
      rgb(247, 147, 30),
      rgb(241, 90, 36)
      );
   color: #000000;
  }
  footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
  
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
      max-width: 1200px;
      margin: auto;
      padding: 40px;
  }
  /*Horario y sus telefono y correo*/
  .footer1{
    max-width: 400px;
  }
  .footer1 h3{
    color: #fff;
  }
  .footer1 p{
    color: #000000;
    margin-top: 20px;
  }
  
  
  .footer-links1{
    margin-top: 20px;
    display:block;
    
  }
  .footer-links1 li{
    list-style: none;
  }
  .footer-links1 li a .fab{
    width: 30px;
    height: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  .footer-links1 li a .fas{
    width: 30px;
    height: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  .footer-links1 li a {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: #000000;
    
  }
  .footer-links1 li a:hover{
    color: #ffffff;
  }
  .footer-links1 li a .far{
    width: 30px;
    height: 30px;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
  }
  
  
  .footer-links1 li a .fab, .far,.fas{
    color:#ffffff;
    font-size: 20px;
  }
  
  
  
  /*Redes sociales*/
  .footer2{
    max-width: 400px;
  }
  .footer2 h3{
    color: #fff;
  }
  
  
  
  
  /*Informacion*/
  .footer3{
    max-width: 400px;
  }
  .footer3 h3{
  color: #fff;
  }
  .footer-links3{
    margin-top: 20px;
    display:block;
    
  }
  .footer-links3 li{
    list-style: none;
  }
  .footer-links3 li a {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: #000000;
  }
  .footer-links3 li a:hover{
    color: #ffffff;
  }
  /*Servicios*/
  .footer4{
    max-width: 400px;
  }
  .footer4 h3{
  color: #fff;
  }
  .footer-links4{
    margin-top: 20px;
    display:block;
    
  }
  .footer-links4 li{
    list-style: none;
  }
  .footer-links4 li a {
    display: inline-block;
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 10px;
    color: #000000;
  }
  .footer-links4 li a:hover{
    color: #ffffff;
  }
  
  
  @media screen and (max-width: 1100px){
      
    .container{
        flex-wrap: wrap;
    }
    
    .footer1{
        max-width: 100%;
    }
    
    .footer2,
    .footer3,
    .footer4{
        margin-top: 40px;
    }
  }

