<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="login" />
    <meta name="theme-color" content="#317EFB" />
    <title>Login</title>
    <link rel="stylesheet" href="./css/login.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet" />
    <link rel="apple-touch-icon" href="/example.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
    <link rel="icon" type="image/png" href="logo.jpeg">
</head>

<body>
    <header>
        <nav id="nav" class="nav1">
            <div class="contenedor-nav">
                <div class="logo">
                    <a href="../index.html">
                        <img src="logo.jpeg" alt="logo del almacen">
                    </a>
                </div>

                <div class="enlaces" id="enlaces">
                    <a href="/src/index.html" id="enlace-inicio" class="btn-header">Inicio</a>
                    <!--a href="/src/index.html" id="enlace-equipo" class="btn-header">Personal</a>
                    <a href="/src/index.html" id="enlace-trabajo" class="btn-header">Galeria</a>
                    <a href="/src/index.html" id="enlace-contacto" class="btn-header">Contactanos</a-->
                    <a href="" id="logout" class="btn-header">Logout</a>
                </div>
                <div class="enlacess" id="enlacess">
                </div>
                <div class="icono" id="open">
                    <span>&#9776;</span>
                </div>
            </div>
        </nav>

    </header>
    <main>

        <div class="titulo" >
            <h2 id="titulo" >{{tema1}}</h2>
        </div>
        <form action="" class="formulario" id="formulario">
            <!-- Grupo: Correo Electronico -->
            <div class="formulario__grupo" id="grupo__correo">
                <label for="correo" class="formulario__label">Correo Electrónico</label>
                <div class="formulario__grupo-input">
                    <input type="email" class="formulario__input" name="correo" id="correo"
                        placeholder="ejemplo@email.com">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">El correo solo puede contener letras, numeros y caracteres.</p>
            </div>

            <!-- Grupo: Contraseña -->
            <div class="formulario__grupo" id="grupo__password">
                <label for="password" class="formulario__label">Contraseña</label>
                <div class="formulario__grupo-input">
                    <input type="password" class="formulario__input" name="password" id="password"
                        placeholder="contraseña" minlength="4" maxlength="12">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error" >La contraseña tiene que ser de 4 a 12 dígitos, solo se permiten
                    letras, numeros y caracteres.</p>
            </div>
            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> llene los Datos. </p>
            </div><br>
            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Iniciar Sesión</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito">Inicio de Sesión Exitoso.!</p>
            </div>
            <div class="formulario__grupo" id="grupo__terminos">
                <p>¿No tienes una cuenta?<a @click="add()"  class="link" href="registro.html">Registrate</a></p>
            </div>
            
        </form>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>


    <!--Firevas-->
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-app.js"></script>
    <!--script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-analytics.js"></script-->
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.0/firebase-firestore.js"></script>

   <script src="/src/registro12/loginvue.js"></script>
    <script src="./js/iniciar.js"></script>
    <script src="./js/login.js"></script>
</body>

</html>
