<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="/public/admin/admin.css">

    <title>Almacenes veicor</title>
</head>
<body onload="renderTable()">
    <nav class="navbar navbar-dark navbar-expand-md bg
    text-white">
    <a class="text-white navbar-brand" href="/src/index.html">
        <i class="fab fa-pagelines"></i>
        Almacen Veicor
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto menu">
            <li class="nav-item active">
                <a class="nav-link" href="#" id="tema">{{mensaje}}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="order.html" id="edit">{{edit}}</a>
            </li>
           
            <li class="nav-item active">
                <a class="nav-link" href="./insertProduct.html" id="add">{{add}}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="./crearUsuario.html" id="create">{{crea}}</a>
            </li>
        </ul>    
        <form class="form-inline mt-2 mt-md-0">                                      
            <a class="text-white nav-link" href="/src/index.html">
                    SALIR
            </a>            
           
        </form>
    </div>
    </nav>                           
    <div class="container">
        <div class="container mt-4">
            <main role="main">
                <div class="row">
                    <div class="col">
                        <h1>ORDENES</h1>
                        <div class="table-responsive-sm">
                            <table id="table" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">ORDEN</th>
                                        <th scope="col">TOTAL</th>
                                        <th scope="col">FECHA</th>
                                        <th scope="col">HORA</th>
                                        <th scope="col">AÑO</th>
                                        <th scope="col">ESTADO</th>
                                        <th scope="col">TELEFONO</th>
                                        <th scope="col">DIRECCION</th>
                                        <th scope="col">PRODUCTOS</th>
                                        <th scope="col">FORMAPAGO</th>
                                    </tr>
                                </thead>
                                <tbody id="table">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <hr class="featurette-divider">
    </div>
   

             

     
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase.js"></script>
    <script src="./table.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> 
   <script src="/public/admin/adminvue.js"></script>


   
</body>
</html>