<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/public/admin/admin.css">
    <title>Almacen Veicor</title>
</head>
<body>


    <header>    
		<nav id="nav" class="nav1 ">
			<div class="contenedor-nav">
				<div class="logo">
					<a href="/src/index.html">
					<img src="/public/ico/logo.jpeg" alt="logo del almacen">
				</a>
				</div>
				<div class="enlaces" id="enlaces">
					<a href="/src/index.html" id="enlace-inicio" class="btn-header"><h3 id="inicio">{{mensaje1}}</h3></a>
						
				</div>
				<div class="icono" id="open">
					<span>&#9776;</span>
				</div>
			</div>
		</nav>
		
	</header>



    <form autocomplete="off" id="form" class="text-center border border-ligth
    p-5"  >
        <p class="h4 mb-4" id="login">{{mensaje}}</p>
        <input type="email" required id="email" class="form-control mb-4"
        placeholder="Usuario">
        <input type="password" required id="password" class="form-control mb-4"
        placeholder="Contraseña">
        <button type="submit" class="btn btn-dark">Ingresar</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
<!--     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.17.1/dist/sweetalert2.all.min.js"></script>
    <script src="./login.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> 
    <script>    
    var app = new Vue({       
     el: '#login',                
      data: {      mensaje: 'LOGIN ADMIN'  }            
     })         
     var app1 = new Vue({       
     el: '#inicio',                
      data: {      mensaje1: 'inicio'  }            
     })         
     </script>
</body> 
</html>             