@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
:root {
	--rojo: #E50914;
	--fondo: #141414;
	--verde: #2BE814 ;
	--azul: #142EE8;
	--blanco: #ffffff;
	--naranja: #ff9a02;
	--naranja2: rgb(241, 90, 36);
	
}
* {
	box-sizing: border-box;
}
body {
	font-family:'Montserrat ExtraBold';}
	
header{
    width: 100%;
	height: 725px;
    background: linear-gradient(to bottom,
    rgb(251, 176, 59),
    rgb(247, 147, 30),
    rgb(241, 90, 36)
    );
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
 }
 .nav1{
    background: transparent;
    height: 80px;
    color:#fff;
 }
 .contenedor-nav{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    
    height:inherit;
    overflow: hidden;
 }
 nav .enlaces a{
    
    padding: 5px ;
    margin-right: 20px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: inherit;
  }
  
  nav .enlaces a:hover{
    border-bottom: 3px solid #1498a4;
    transition: 0.6s;
  }
  
  .logo, .logo img{
    height:80px;
    vertical-align: top;
    border-radius: 48px;
	/*margin-left: 10px;*/
  }
  
  .icono{
    display:none;
    font-size: 24px;
    padding: 23.5px 20px;
}
body {
	width: 100%;
	
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin:auto;
	
}

main {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	max-width: 100%;
	margin-top: 2px;
	position: absolute;
	padding: 40px;

}
.icon{
    min-width: 50px;
    text-align: center;
    color: white;
}
.titulo h2 {
    text-align: center;

}

.formulario {
	
	padding: 1px 1px;	
	
}

.formulario__label {
	display: inline-block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
	

}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	border: 2px solid #f0f0f0 ;
	border-radius: 4px;
	display: block;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border-color: /*3px solid*/ #777;
	outline: 0;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.formulario__input:hover{
	border-color: var(--naranja2);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
	color: var(--fondo);
}

.formulario__input-error-activo {
	display:inline-block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}
.formulario__grupo p{
	text-align: center;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
	
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 120px;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}
